@page "/products"

@using Microsoft.EntityFrameworkCore
@using MyCOLLDB.Data
@using MyCOLLDB.Model.Entities

@inject IJSRuntime JsRuntime
@inject NavigationManager NavManager
@inject ApplicationDbContext DbContext

<PageTitle>Lista de Produtos</PageTitle>

<h3>Gestão de Produtos</h3>

<div>
	<button class="btn btn-primary" @onclick="CreateProduct">Novo Produto</button>
</div>

@if (_productsList == null)
{
	<p><em>Carregando produtos...</em></p>
}
else if (_productsList.Count == 0)
{
	<p><em>Nenhum produto encontrado.</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Preço base</th>
				<th>Taxa (%)</th>
				<th>Preço final</th>
				<th>Categoria</th>
				<th>Estado</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var product in _productsList)
			{
				<tr>
					<td>@product.Name</td>
					<td>@product.BasePrice.ToString("C")</td>
					<td>@product.SellTax %</td>
					<td>@product.FinalPrice.ToString("C")</td>
					<td>@product.Category?.Name</td>
					<td>
						@if (product.IsActive)
						{
							<span class="badge bg-success">Ativo</span>
						}
						else
						{

							<span class="badge bg-warning text-dark">Pendente/Inativo</span>
						}
					</td>
					<td>
						<button class="btn btn-sm btn-info" @onclick="() => EditProduct(product.Id)">Editar</button>
						<button class="btn btn-sm btn-danger" @onclick="() => DeleteProduct(product.Id)">Apagar</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private List<Product>? _productsList;
	protected override async Task OnInitializedAsync()
	{
		await LoadProducts();
	}

	private async Task LoadProducts()
	{
		_productsList = await DbContext.Products
		.Include(p => p.Category)
		.Include(p => p.Supplier)
		.ToListAsync();
	}

	// create
	private void CreateProduct()
	{
		NavManager.NavigateTo("/products/create");
	}
	// edit
	private void EditProduct(int id)
	{
		NavManager.NavigateTo($"/products/edit/{id}");
	}
	// delete
	private async Task DeleteProduct(int id)
	{
		var product = _productsList?.FirstOrDefault(p => p.Id == id);
		if (product == null)
			return;

		if (product.OrderItems != null && product.OrderItems.Any())
		{
			await JsRuntime.InvokeVoidAsync("alert", "Não é possível apagar este produto porque já existem encomendas associadas. Tente inativá-lo.");
			return;
		}

		var confirmed = await JsRuntime.InvokeAsync<bool>("confirm", $"Tem a certeza que deseja apagar o produto '{product.Name}'?");

		if (confirmed)
		{
			DbContext.Products.Remove(product);
			await DbContext.SaveChangesAsync();
			_productsList?.Remove(product);
		}
	}

}
